---
import BaseLayout from "../../../layouts/BaseLayout.astro";
const { id } = Astro.params;
import { getCollection, getEntryBySlug } from "astro:content";
import type { CollectionEntry } from "astro:content";
import {BLOG_TITLE} from "../../../constraint";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  return allPosts.map((post) => {
    return {
      params: { id: post.slug },
      props: { post },
    };
  });
}

interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={`${post.data.title} - ${BLOG_TITLE}`}>
  <article>
    <h1 class="font-bold">{post.data.title}</h1>
    <Content />
  </article>
</BaseLayout>
