---
import { getCollection, CollectionEntry } from "astro:content";
import BaseLayout from "src/layouts/BaseLayout.astro";
import { Page } from "astro";
import Pagination from "src/components/Pagination.astro";
import { postsDefaultSortFunc } from "src/content/utils";

const allPosts = (await getCollection("posts")).sort(postsDefaultSortFunc);
---

<BaseLayout title="home">
  <h1>Home</h1>
  <Pagination
    postPage={{
      data: allPosts,
    }}
  />
</BaseLayout>
