---
import { getCollection, CollectionEntry } from "astro:content";
import BaseLayout from "src/layouts/BaseLayout.astro";
import PostList from "src/components/PostList.astro";
import { postsDefaultSortFunc } from "src/content/utils";

const allPosts = (await getCollection("posts")).sort(postsDefaultSortFunc);
// .slice(0, 10);
---

<BaseLayout title="home">
  <div class="container mx-auto flex flex-wrap py-6">
    <PostList
      postPage={{
        data: allPosts,
      }}
    />
  </div>
</BaseLayout>
