---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { BLOG_TITLE } from "../constraint";
---

<BaseLayout title={`Profile - ${BLOG_TITLE}`}>
  <div class="py-6">
    <h1 class="text-lg font-bold text-gray-900 leading-loose">Profile</h1>
    <ul class="pl-6 list-disc list-outside leading-relaxed text-gray-700">
      <li>abekoh (Kotaro Abe, 阿部耕太郎)</li>
      <li>Webを中心になんでも触ってみるの精神でやってます。</li>
      <li>
        SNS等へのリンク: <a
          href="https://abekoh.dev"
          class="text-blue-500 hover:underline">abekoh.dev</a
        >
      </li>
    </ul>
  </div>
</BaseLayout>
