---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { BLOG_TITLE } from "../constraint";
---

<BaseLayout title={`Profile - ${BLOG_TITLE}`}>
  <div class="py-6">
    <h1 class="text-lg font-bold text-gray-900 leading-loose">Profile</h1>
    <ul class="pl-6 list-disc list-outside leading-relaxed text-gray-700">
      <li>abekoh (Kotaro Abe, 阿部 耕太郎)</li>
      <li>Software Engineer</li>
      <li>福岡県出身、東京都在住</li>
      <li>Webを中心になんでも触ってみるの精神</li>
      <li>お仕事ではGo/TypeScriptを書くことが多い</li>
      <li>
        経歴など: <a
          href="https://github.com/abekoh/abekoh/blob/main/RESUME-ja.md"
          class="text-blue-500 hover:underline"
        >
          abekoh/RESUME-ja.md
        </a>
      </li>
      <li>
        Twitter: <a
          href="https://twitter.com/abekoh_bcky"
          class="text-blue-500 hover:underline"
        >
          @abekoh_bcky
        </a>
      </li>
    </ul>
  </div>
</BaseLayout>
