---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { BLOG_TITLE } from "../constraint";
import { Content } from "./_resume.mdx";
import MarkdownContent from "../components/MarkdownContent.astro";
---

<BaseLayout title={`Resume - ${BLOG_TITLE}`}>
  <div class="py-6">
    <h1 class="text-lg font-bold text-gray-900 leading-loose">Resume</h1>
    <MarkdownContent><Content /></MarkdownContent>
  </div>
</BaseLayout>
