---
import { Image } from "@astrojs/image/components";
import { BLOG_TITLE } from "../constraint";

const navItems = [
  {
    name: "Profile",
    href: "/profile",
  },
  {
    name: "Tags",
    href: "/tags",
  },
];
---

<header>
  <div class="text-base flex items-center justify-between">
    <div class="flex items-center justify-between">
      <div class="mr-2">
        <Image src="/logo.png" alt="logo" width="48" aspectRatio="1:1" />
      </div>
      <div class="mr-2">
        <a href="/" class="text-gray-700 font-bold">{BLOG_TITLE}</a>
      </div>
    </div>
    <nav>
      <div class="flex items-center">
        {
          navItems.map((navItem) => (
            <a href={navItem.href} class="px-2 font-medium text-gray-700 hover:underline">
              {navItem.name}
            </a>
          ))
        }
      </div>
    </nav>
  </div>
</header>
