---
interface Props {
  name: string;
  href: string;
}
const { name, href } = Astro.props;
---

<a
  href={href}
  class="px-1 my-1 mr-1 last:mr-0 text-xs font-medium inline-block rounded text-gray-900 bg-gray-100 leading-relaxed"
>
  {name}
</a>
